<table class="table table-hover">
  <thead>
    <th>
    </th>
    <th>
      <strong><%= label %></strong>
    </th>
  </thead>
  <tbody>
    <% data.each do |elem| %>
    <tr>
      <td>
	<%= elem %>
      </td>
      <td>
	<% if label == 'average' %>
          <%= round elem.average_rating %>
	<% end %>
	<% if label == 'ratings' %>
          <%= elem.ratings.count %> 
	<% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
