<h1>List of ratings</h1>
<p><%= link_to 'Create a new rating', new_rating_path %></p>
<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |r| %>
  <li> <%= r %> <%= link_to r.user.username, user_path(r.user) %></li>
  <% end %>
</ul>
