<h1>List of ratings</h1>
<p><%= link_to 'Create a new rating', ratings_new_path %></p>
<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |r| %>
  <li> <%= r %> </li>
  <% end %>
</ul>
