<h1>List of ratings</h1>
<p><%= link_to 'Create a new rating', new_rating_path %></p>
<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |r| %>
  <li> <%= r %> <%= link_to 'delete', rating_path(r.id), :method => :delete, data: {confirm: "Are you sure?" } %></li>
  <% end %>
</ul>
