<h2>Beers</h2>
<table id="beers_table">
  <tr>
    <th><a href="#" id="name_head">Name</a></th>
    <th><a href="#" id="style_head">Style</a></th>
    <th><a href="#" id="brewery_head">Brewery</a></th>
  </tr>
</table>
